<nav class="bg-gray-700">
	<div class="max-w-4xl mx-auto px-2 sm:px-6 lg:px-8">
		<div class="flex items-center justify-between h-16">
            <div class="flex-1 items-center">
                <span class="font-bold uppercase text-white">Wilhelms awesome site</span>
            </div>
            <div class="flex items-center">
            {% if user %}
                <form method="POST" action="/logout">
                    <button type="submit" class="text-sm font-bold text-gray-400 rounded hover:bg-gray-600 hover:text-gray-300 px-4 py-2 uppercase">Logout</button>
                </form>
            {% else %}
			    <a href="/login" class="text-sm font-bold text-gray-400 rounded hover:bg-gray-600 hover:text-gray-300 px-4 py-2 uppercase">Login</a>
            {% endif %}
            </div>
		</div>
	</div>
</nav>
